* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 70px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

html {
  background-color: #550527;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #A10702;
  height: 50px;
  width: 100%;
  border-bottom: 2px solid #FAA613;
}

#navbar a {
  color: white;
  margin: 20px;
  font-size: 20px;
  text-decoration: none;
}

#navbar .active {
  text-decoration: underline;
  text-decoration-color: #FAA613;
}

#home-intro {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('/red-banner.jpeg');
  object-fit: cover;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-attachment: fixed;
  height: 400px;
}

#home-intro div {
  width: 50%;
  text-align: center;
}

#home-intro h2 {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#home-about {
  background-color: #688E26;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#home-about p {
  width: 60%;
}

#home-experience {
  background-color: #A10702;
}

#home-blog {
  background-color: #FAA613;
}

#home-contact {
  background-color: #F44708;
}

.home-divs h1, .home-divs h2 {
  margin: 0px;
}

.home-divs {
  width: 80%;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

#home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-link {
  background-color: #550527;
  color: #FAA613;
  padding: 10px;
  text-decoration: none;
  margin-top: 50px;
}

#about-container {
  background-color: #688E26;
  width: 80%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-container div {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

#about-p1 {
  width: 50%;
}

#project-thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#project-thumbnails div {
  display: flex;
  flex-direction: column;
}

.etr-flip {
  position: relative;
  height: 600px;
  width: 325px;
  background-color: transparent;
  perspective: 1000px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  text-align: center;
}

.shady-duck-flip {
  position: relative;
  height: 300px;
  width: 533.32px;
  background-color: transparent;
  perspective: 1000px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  text-align: center;
}

.etr-flip:hover, .shady-duck-flip:hover {
  transform: rotateY(180deg);
}

.etr-front, .etr-back, .shady-duck-front, .shady-duck-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.etr-back, .shady-duck-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.etr-back h3 {
  margin-top: 250px;
}

.shady-duck-back h3 {
  margin-top: 100px;
}

.shady-duck {
  height: 300px;
  width: auto;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

.shady-duck-flip img, .shady-duck-flip div {
  margin: 0px;
}

#contact-container {
  background-color: #FAA613;
  margin-top: 50px;
  width: 60%;
  height: 1000px;
  text-align: center;
}